<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="wrapper">
        {{>header}}

        <div class="flex-grow">
            <h3>About the project</h3>
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quam reiciendis totam
                consequuntur consectetur necessitatibus tempora, nihil quasi numquam sunt architecto voluptatibus
                blanditiis
                quo ipsum. Veritatis odit ipsam nihil dignissimos?</div>
            <h3>about me</h3>
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nisi deleniti delectus
                eveniet
                odio beatae ipsa accusamus voluptates debitis! Pariatur, laboriosam maiores aliquam cumque molestiae
                harum
                quis autem necessitatibus reiciendis?</div>
        </div>
        {{>footer}}
    </main>
</body>

</html>