<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="wrapper">
        {{>header}}

        <div class="flex-grow">
            <h3 class="heading-3">{{title}}</h3>
            <p class="contact-details">
                Drop me a line at: <span class="e-mail">paulinaokulska@mail.com</span>.
            </p>
            <form action="" class="contac-form"></form>
        </div>


        {{>footer}}
    </main>
</body>

</html>