<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="contact">Weather App - {{title}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="wrapper">
        {{>header}}

        <div class="flex-grow">
            <div class="flex">
                <div class="email-img"><img src="/img/email.png" alt=""></div>

                <h3 class="heading-3">{{title}}</h3>
            </div>
            <p class="contact-details">
                Drop me a line at: <span class="e-mail">paulinaokulska@mail.com</span>.
            </p>
            <form action="" class="contac-form"></form>
        </div>

        {{>footer}}
    </main>
    <script type="module" src="/js/nav.js"></script>

</body>

</html>