<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - {{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="wrapper">

        {{>header}}

        <div class="flex-grow">
            <div class="weather">
                <form class="weather-form" action="">
                    <h3  class="task heading-3"></h3>
                    <input class="input" for="submit-btn" type="text" placeholder="write the addres" name="city">
                    <button id="submit-btn">sumbit</button>
                </form>
                <div class="result">
                    <h3 class="city-name heading-3">{{error}}</h3>
                    <h4 class="coordinates"></h4>
                    <div id="forecast-image"><img src="#" alt=""></div>
                    <p class="forecast"></p>
                </div>
            </div>
        </div>


        {{>footer}}
    </main>
    {{!--
    <script src="../../node_modules/socket.io/dist/"></script> --}}

    <script type="module" src="/js/app.js"></script>

</body>

</html>