<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="wrapper">

        {{>header}}

        <div class="weather">
            <form class="weather-form" action="">
                <input class="input" for="submit-btn" type="text" placeholder="write the addres" name="city">
                <button id="submit-btn">sumbit</button>
            </form>
        </div>

        <div class="result">
            <h3 class="city-name"></h3>
            <h4 class="coordinates"></h3>
            <p class="forecast">/p>
        </div>



        {{>footer}}
    </main>
      {{!-- <script src="../../node_modules/socket.io/dist/"></script> --}}

    <script type="module" src="/js/app.js"></script>
    
</body>

</html>