<header>
    <h1 class="heading-1">Weather</h1>
    <h2 class="heading-2">Check the weather forecast today.</h1>
    <nav class="navigation">
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </nav>
</header>