<header>
    <h1 class="heading-1">Weather</h1>
    <h2 class="heading-2">Check the weather forecast today</h1>
    <nav class="navigation">
        <li><a href="/" class="home">Weather</a></li>
        <li><a href="/about" class="about">About</a></li>
        <li><a href="/contact" class="contact">Contact</a></li>
    </nav>
    {{!-- TODO: add active class to the li elements --}}
</header>