@import './mixins';
@import './variables';




body {
    font-family: arial, sans-serif;
    color: $body-primary-color;

    .wrapper {

        width: 50%;
        //min-width: 350px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100vh;
        // background-color: rgb(150, 128, 128);

        .flex {
            display: flex;
            align-items: baseline;


            @include respond(mobile) {
                align-items: center;
            }

        }

        .about-me-img,
        .about-project-img,
        .email-img {
            width: 20px;
            height: 20px;
            padding: 10px;

            overflow: hidden;

            @include respond(mobile) {
                width: 25px;
                height: 25px;
            }

            img {
                width: 100%;
            }
        }


        @include respond(tablet) {
            width: 70%;
            // background-color: olive;
        }

        @include respond(mobile) {
            width: 85%;
            // background-color: blue;
        }



        .heading-1 {
            font-weight: 700;
            font-size: 72px;
            margin-bottom: 30px;

            @include respond(tablet) {
                font-size: 60px;
                margin-bottom: 20px;
            }

            @include respond(mobile) {
                font-size: 42px;
                margin-bottom: 15px;
            }
        }

        .heading-2 {
            font-weight: 300;
            font-size: 36px;
            text-transform: uppercase;
            color: $body-secondary-color;
            margin-top: 0;


            @include respond(tablet) {
                font-size: 30px;

            }

            @include respond(mobile) {
                font-size: 22px;

            }
        }

        .heading-3 {
            text-transform: uppercase;
            margin-top: 25px;
            color: $body-tertiary-color;
        }

        .e-mail {
            font-weight: 600;
        }

        .navigation {
            color: $body-tertiary-color;
            list-style: none;
            display: flex;
            border-bottom: 1px solid #888;
            padding: 15px 0;

            li a {
                color: $body-primary-color;
                margin-right: 16px;
                text-decoration: none;
                cursor: pointer;
                font-style: 36px;

                &:hover {
                    border-bottom: 1px solid $body-tertiary-color;
                    cursor: pointer;
                }

                &.active {
                    border-bottom: 1px solid $body-secondary-color;
                }



            }
        }

        .error-msg {
            font-weight: 700;
        }

        button {
            cursor: pointer;
            border: 1px solid $body-tertiary-color;
            background: $body-tertiary-color;
            color: white;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 2px;
        }

        .flex-grow {
            flex-grow: 1;

            .weather-form {
                @include respond(mobile) {
                    display: flex;
                    flex-direction: column;

                }
            }

            .input {
                border: 1px solid #ccc;
                padding: 10px;
                margin: 0 0 30px 0;
                border-radius: 2px;

                /* flex-grow: 1; */
            }

            #submit-btn {
                margin-left: 5px;

                @include respond(mobile) {
                    margin-left: 0px;


                }
            }

            .city-name {
                color: $body-primary-color;
            }

            .incorrect {
                color: rgb(139, 0, 0)
            }

            .forecast-container {
                width: 30px;
                display: hidden;
                border-radius: 2px;
                overflow: hidden;

                .active {
                    display: block;
                }

                #forecast-image {
                    width: 100%;
                    background-size: cover;
                    box-shadow: -2px 2px 2px -2px rgba(52, 52, 52, 0.75)
                }

            }

        }

        .contact-details {
            margin-top:0px;
        }

        footer {
            padding: 10px 10px 10px 0;
            margin: 30px 0;

            .created {
                font-weight: 600;
            }
        }


        //styles for the loading animation
        .margin-left-30 {
            margin-left: 30px;
        }

        .dot-flashing {
            position: relative;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $loading-base-color;
            color: $loading-base-color;
            animation: dotFlashing 1s infinite linear alternate;
            animation-delay: .5s;
        }

        .dot-flashing::before,
        .dot-flashing::after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
        }

        .dot-flashing::before {
            left: -15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $loading-base-color;
            color: $loading-base-color;
            animation: dotFlashing 1s infinite alternate;
            animation-delay: 0s;
        }

        .dot-flashing::after {
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $loading-base-color;
            color: $loading-base-color;
            animation: dotFlashing 1s infinite alternate;
            animation-delay: 1s;
        }

        @keyframes dotFlashing {
            0% {
                background-color: $loading-base-color;
            }

            50%,
            100% {
                background-color: $loading-end-color;
            }
        }

    }

}