body {
  font-family: arial, sans-serif;
  color: #302f35;
}
body .wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media only screen and (max-width: 800px) {
  body .wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 480px) {
  body .wrapper {
    width: 85%;
  }
}
body .wrapper .heading-1 {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
  body .wrapper .heading-1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  body .wrapper .heading-1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
}
body .wrapper .heading-2 {
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase;
  color: #444;
  margin-top: 0;
}
@media only screen and (max-width: 800px) {
  body .wrapper .heading-2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 480px) {
  body .wrapper .heading-2 {
    font-size: 22px;
  }
}
body .wrapper .heading-3 {
  text-transform: uppercase;
  margin-top: 30px;
  color: #777586;
}
body .wrapper .e-mail {
  font-weight: 600;
}
body .wrapper .navigation {
  color: #777586;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #888;
  padding: 15px 0;
}
body .wrapper .navigation li a {
  color: #302f35;
  margin-right: 16px;
  text-decoration: none;
  cursor: pointer;
  font-style: 36px;
}
body .wrapper .navigation li a:hover {
  border-bottom: 1px solid #777586;
  cursor: pointer;
}
body .wrapper .navigation li a.active {
  border-bottom: 1px solid #444;
}
body .wrapper .error-msg {
  font-weight: 700;
}
body .wrapper button {
  cursor: pointer;
  border: 1px solid #777586;
  background: #777586;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
}
body .wrapper .flex-grow {
  flex-grow: 1;
}
@media only screen and (max-width: 480px) {
  body .wrapper .flex-grow .weather-form {
    display: flex;
    flex-direction: column;
  }
}
body .wrapper .flex-grow .input {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 0 30px 0;
  border-radius: 2px;
  /* flex-grow: 1; */
}
body .wrapper .flex-grow #submit-btn {
  margin-left: 5px;
}
@media only screen and (max-width: 480px) {
  body .wrapper .flex-grow #submit-btn {
    margin-left: 0px;
  }
}
body .wrapper .flex-grow .city-name {
  color: #302f35;
}
body .wrapper .flex-grow .incorrect {
  color: darkred;
}
body .wrapper .flex-grow .forecast-container {
  width: 30px;
  display: hidden;
  border-radius: 2px;
  overflow: hidden;
}
body .wrapper .flex-grow .forecast-container .active {
  display: block;
}
body .wrapper .flex-grow .forecast-container #forecast-image {
  width: 100%;
  background-size: cover;
  box-shadow: -2px 2px 2px -2px rgba(52, 52, 52, 0.75);
}
body .wrapper footer {
  padding: 10px 10px 10px 0;
  margin: 30px 0;
}
body .wrapper footer .created {
  font-weight: 600;
}
body .wrapper .margin-left-30 {
  margin-left: 30px;
}
body .wrapper .dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9b95b8;
  color: #9b95b8;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
body .wrapper .dot-flashing::before,
body .wrapper .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
body .wrapper .dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9b95b8;
  color: #9b95b8;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}
body .wrapper .dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9b95b8;
  color: #9b95b8;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}
@keyframes dotFlashing {
  0% {
    background-color: #9b95b8;
  }
  50%, 100% {
    background-color: #ebe6ff;
  }
}

/*# sourceMappingURL=style.css.map */
